.main {
  height: 100vh;
  display: flex;
}

.main__posts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: auto;
  padding: 0 10px 70px 10px;
  margin-top: 90px;
}

.main__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4F493F;
  font-size: 24px;
  font-family: 'Raleway';
}

.main__skeletons-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}